<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Servidor con Express y socket.io!</title>
</head>
<body>
    <h1 style="background-color: yellow; text-align: center;"> Ejemplo de notificacion </h1>

    <section style="width: 100%; text-align: center;">
        <button id="consultDatosServer">consultar datos notificacion</button>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <!-- En esa direccion del script se encuentra importado el sockect.io-->
    <div id="app"></div>
    <script src="/js/index.js"></script> 
    
</body>
</html>